<accel-shooter-editor
  [content]="checklistMarkDown"
  (contentChange)="onContentChange($event)"
  (save)="onSave()"
></accel-shooter-editor>
<div class="refs" *ngIf="loaded">
  <span>{{ fullTaskName }}</span
  ><br />
  <a [href]="mergeRequestLink" target="_blank">Merge Request</a><br />
  <a href="#" (click)="openMergeRequestDescriptionLink($event)"
    >Merge Request Description</a
  ><br />
  <a [href]="taskLink" target="_blank">ClickUp Task</a><br />
  <a *ngIf="frameUrl" [href]="frameUrl" target="_blank">Frame</a><br />
  <span *ngIf="mrPipelineStatus">{{ mrPipelineStatus }}</span>
</div>
