<ng-container *ngIf="previewMode; else elseTemplate">
  <markdown
    lineNumbers
    clipboard
    [clipboardButtonTemplate]="clipboardButtonTemplate"
    class="markdown-preview"
    [data]="content"
  ></markdown>
</ng-container>
<ng-template #elseTemplate>
  <ngx-codemirror
    [ngModel]="content"
    [options]="option"
    (ngModelChange)="contentChange.emit($event)"
  ></ngx-codemirror>
</ng-template>
<button
  class="toggle-preview-button"
  mat-icon-button
  (click)="previewMode = !previewMode"
>
  <mat-icon>{{ previewMode ? 'edit' : 'visibility' }}</mat-icon>
</button>
<ng-template #clipboardButtonTemplate>
  <button mat-icon-button>
    <mat-icon>content_copy</mat-icon>
  </button>
</ng-template>
