:host {
  display: block;
  height: 100%;
  position: relative;
}

.markdown-preview {
  display: block;
  padding: 5px 10px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  font-size: 16px;
}

ngx-codemirror {
  display: block;
  height: 100%;
}

.toggle-preview-button {
  position: absolute;
  right: 0;
  bottom: 0;
}
