<ng-container *ngIf="task$ | async as task">
  ID: {{ task.id }} <br />
  Name: {{ task.name }} <br />
  Status: {{ task.status.status }} <br />
  Parent: {{ task.parent }} <br />
  Priority: {{ task.priority }} <br />
  Text Content:
  <pre>{{ task.text_content }}</pre>
  <br />
</ng-container>
<ng-container *ngIf="comments$ | async as comments">
  Comments: <br />
  <ng-container *ngFor="let comment of comments">
    <pre>
&gt; {{ comment.user.username }}
{{ comment.comment_text }}</pre
    >
  </ng-container>
</ng-container>
