@import "~codemirror/lib/codemirror";
@import "./one-dark";

html,
body {
  margin: 0;
  padding: 0;
}

.CodeMirror {
  font-family: "Source Code Pro", Consolas, monaco, monospace;
  letter-spacing: 0.025em;
  line-height: 1.25;
  font-size: 18px;
  height: auto !important;
  overflow-y: hidden !important;
  -webkit-overflow-scrolling: touch;
}
/* support japanese font */
.CodeMirror[lang^="ja"] {
  font-family: "Source Code Pro", Consolas, monaco, Meiryo, "ＭＳ ゴシック",
    "MS Gothic", monospace;
}
/* support zh-tw font */
.CodeMirror[lang="zh-tw"] {
  font-family: "Source Code Pro", Consolas, monaco, "Microsoft JhengHei",
    "微軟正黑", monospace;
}
/* support zh-cn font */
.CodeMirror[lang="zh-cn"] {
  font-family: "Source Code Pro", Consolas, monaco, "Microsoft YaHei",
    "微软雅黑", monospace;
}
.CodeMirror-placeholder {
  color: #777 !important;
}
.CodeMirror-scroll {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.CodeMirror-code {
  /*padding-bottom: 36px;*/
}
.CodeMirror-gutter-elt {
  text-align: center;
}
.CodeMirror-linenumber {
  /*    opacity: 0.5;*/
  min-width: 1.5em;
  text-align: right;
}
.CodeMirror-gutter.authorship-gutters {
  width: 8px;
}
.CodeMirror-matchingtag {
  background: rgba(255, 255, 255, 0.1);
  line-height: 1em;
}
.CodeMirror-foldmarker {
  color: #d0d0d0;
  text-shadow: none;
  font-family: Arial;
  font-size: 1em;
  line-height: 0.3;
  cursor: pointer;
  margin: 2px;
  padding-bottom: 2px;
}
.CodeMirror-foldgutter {
  /*width: 1em;*/
  cursor: default;
  line-height: 100%;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  line-height: 1em;
  cursor: pointer;
}
.CodeMirror-foldgutter-open {
  padding-top: 1px;
}
.CodeMirror-foldgutter-folded {
  padding-top: 2px;
}
.CodeMirror-foldgutter-open:after {
  content: "⌵";
  font-size: 1em;
  /*    opacity: 0.5;*/
}
.CodeMirror-foldgutter-folded:after {
  content: "+";
  font-size: 1em;
  font-weight: 700;
}
.CodeMirror-foldmarker,
.CodeMirror-foldgutter-folded:after {
  color: #78b2f2 !important;
}
.CodeMirror-sizer {
  margin-bottom: 0px !important;
}
.CodeMirror-insert-match {
  background: lawngreen;
  border: 1px solid limegreen;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.5;
}
.CodeMirror-delete-match {
  background: indianred;
  border: 1px solid darkred;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.5;
}
